.group {
  background: rgb(200, 200, 243);
  width: calc(100% - 8rem);
  margin: 0 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 200ms ease-in-out;
}

@media (min-width: 801px) {
  .group {
    margin: 0 auto 1rem;
    width: 20rem;
  }
}

.group:hover {
  background: rgb(169, 169, 247);
  transition: all 200ms ease-in-out;
}

input,
select {
  background: none;
  border: 0;
  color: black;
  outline: none;
}

input {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 0.2rem 0.5rem;
}

select, option {
  text-align: right;
}